
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
    text-align: left;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
body{
    background-color: black;
}
.base{
    padding: 46px 13px 0px 16px;
    margin: auto;
    max-width: 612px;
    height: 792px;
    background-color: #fff;
}
a{
    text-decoration: none;
    cursor:pointer;
}
.titleAndPicture{
    display:flex;
    flex-flow:row wrap;
    padding-bottom:49px;
}
.title{
    font-size: 44px;
    font-weight: bold;
}
.titleDescription{
    padding-top:7px;
    padding-bottom:14px;
    font-size: 12px;
    font-weight: bold;
    background-image: linear-gradient(94deg, #ff26b2 0%,
    #851bd9 64%, #3f0fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainDescription{
    font-size: 10px;
    padding-bottom:14px;
}
.iconsBox{
    display: flex;
    padding-top:6px;
}
.icon{
    align-self: baseline;
}
.icons{
    margin-bottom: 9px;
    padding-left: 28px;
}
.textSMedia{
    text-decoration: underline;
    font-size: 9px;
}
.textSMediaE{
    font-size: 9px;
}
.headerRightSide{
   margin: auto;
}
.middlePage{
    display: flex;  
    flex-flow:row wrap;     
}
.rightSideList{
   padding-left: 16px;
}
.line{
    width: 342px;
}
.listTextTitle{
    font-size: 12px;
    font-weight: bold;
}
.listPadding{
    padding-top:8px;
    padding-bottom:4.5px;
}
.listPaddingRight{
    padding-top:7px;
    padding-bottom:5px;
}
.purpleListText{
    font-size:9px;
    background-image: linear-gradient(94deg, #ff26b2 0%,
    #851bd9 64%, #3f0fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.purpleListTextRight{
    font-size:9px;
    background-image: linear-gradient(94deg, #ff26b2 0%,
    #851bd9 64%, #3f0fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom:6px;
    padding-top:6px;
}
.bigListGrayText{
    font-size: 10px;
    color:#999;
}
.listGrayText{
    font-size: 10px;
    font-weight:300;
    color:#999;
}
.listGrayTextPadding{
  padding-bottom:7px; 
}
.listText{
    font-size: 9px;
}
.titleList{
    padding-bottom:7px
}
.titlePadding{
    padding-bottom:3px ;
    padding-top:26px;
}
.underTitle{
    padding-top:7px;
    font-size: 10px;
    text-decoration: underline;
    font-weight: bold;
}
.listRightTextprojects{
    padding-bottom: 9px;
}